body {
    overflow-x: hidden;
}

#sigwx  {
    width: 900px;
    height: 650px;
}

#surwc_dwd {
    width: 900px;
    height: 650px;
}
#surwc {
    width: 110%;
    padding-bottom: 20px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}


div.image {
    display: inline-block;
}
