<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Meteorological Information</title>
</head>

<body>

    <div class="container-fluid">
        <div class="" id="navbar">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" href="#nav-windy-rain" id="nav-windy-rain-tab" data-toggle="tab" role="tab" aria-controls="nav-windy-rain" aria-selected="true">Weather forecast</a>
                    <a class="nav-item nav-link" href="#nav-windy-wind" id="nav-windy-wind-tab" data-toggle="tab" role="tab" aria-controls="nav-windy-wind" aria-selected="false">Wind</a>
                    <a class="nav-item nav-link" href="#nav-surface" id="nav-surface-tab" data-toggle="tab" role="tab" aria-controls="nav-surface" aria-selected="false">Surface</a>
                    <a class="nav-item nav-link" href="#nav-significant" id="nav-significant-tab" data-toggle="tab" role="tab" aria-controls="nav-significant" aria-selected="false">Significant
                        Weather</a>
                    <a class="nav-item nav-link" href="#nav-metar" id="nav-metar-tab" data-toggle="tab" role="tab" aria-controls="nav-metar" aria-selected="false">METAR/TAF</a>
                    {% if sat_data %}
                    <a class="nav-item nav-link" href="#nav-satellite" id="nav-satellite-tab" data-toggle="tab" role="tab" aria-controls="nav-satellite" aria-selected="false">Satellite Images</a>
                    {% endif %}
                </div>
            </nav>
        </div>

        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-windy-rain" role="tabpanel" aria-labelledby="nav-windy-rain-tab">
                <div class="windy-rain" id="windy-rain">
                    <h4>Rain Forecast</h4>
                    <iframe width="1200" height="600"
                        src="https://embed.windy.com/embed2.html?lat={{coords.0}}&lon={{coords.1}}&zoom=5&level=surface&overlay=rainAccu&menu=&message=true&marker=&calendar=&pressure=&type=map&location=coordinates&detail=true&detailLat={{coords.0}}&detailLon={{coords.1}}&metricWind=default&metricTemp=default&radarRange=-1"
                        frameborder="0"></iframe>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-windy-wind" role="tabpanel" aria-labelledby="nav-windy-wind-tab">
                <div class="windy-wind" id="windy-wind">
                    <h4>Wind</h4>
                    <iframe width="1200" height="600"
                        src="https://embed.windy.com/embed2.html?lat={{coords.0}}&lon={{coords.1}}&zoom=3&level=surface&overlay=wind&menu=&message=true&marker=true&calendar=&pressure=true&type=map&location=coordinates&detail=&detailLat={{coords.0}}&detailLon={{coords.1}}&metricWind=kt&metricTemp=%C2%B0C&radarRange=-1"
                        frameborder="0"></iframe>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-surface" role="tabpanel" aria-labelledby="nav-surface-tab">
                <h4>Surface weather charts</h4>
                <div class="card mt-2">
                    <div class="card-header">
                        <h5 class='mt-0 mb-0'>UK Met Charts</h5>
                    </div>
                    <div class="scrollmenu">
                        {% for surface_link in surface_links.0 %}
                        <div class="image">
                            <img id="surwc" src="{{ surface_link }}" alt="">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h5 class='mt-0 mb-0'>DWD Charts</h5>
                    </div>
                    <div class="scrollmenu">
                        {% for surface_link in surface_links.1 %}
                        <div class="image">
                            <img id="surwc_dwd" src="{{ surface_link }}" alt="">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="nav-significant" role="tabpanel" aria-labelledby="nav-significant-tab">
                <div id="accordion">
                    <div class="header mt-2 mb-1">
                        <h4>Significant Weather Charts</h4>
                    </div>

                    {% for sigwx_link_area, sigwx_link_image in sigwx_links.items %}
                    <div class="card mt-2">
                        <div class="card-header" id="header{{ forloop.counter }}" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}_sigwx" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}_sigwx"
                            style="cursor:pointer">
                            <h5 class="mb-0">
                                {{sigwx_link_area}}
                            </h5>
                        </div>

                        <div id="collapse{{ forloop.counter }}_sigwx" class="collapse" aria-labelledby="header{{ forloop.counter }}_sigwx" data-parent="#accordion">
                            <div id="carousel{{ forloop.counter }}_sigwx" class="carousel slide" data-interval="false">
                                <div class="carousel-inner">
                                    {% for title, link in sigwx_link_image.items %}
                                    <div class="carousel-item {{ forloop.first|yesno:"active, " }}" style="transition-duration: 0.5s">
                                        <h5>{{title}}</h5>
                                        <img class="d-block w-100" src="{{ link }}" alt="{{ link }}">
                                    </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carousel{{ forloop.counter }}_sigwx" role="button" data-slide="prev">
                                </a>
                                <a class="carousel-control-next" href="#carousel{{ forloop.counter }}_sigwx" role="button" data-slide="next">
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>


            <div class="tab-pane fade" id="nav-metar" role="tabpanel" aria-labelledby="nav-metar-tab">
                {% for name, metar_taf_raw, metar, taf in names_metar_taf %}
                <div class="card mt-3">
                    <h4 class="card-header"> {{ name }} </h4>
                    <div class="card-body">
                        <h5>METAR</h5>
                        <p>{{ metar_taf_raw.0 }}</p>
                        <h5>TAF</h5>
                        <p>{{ metar_taf_raw.1|linebreaksbr }}</p>
                    </div>

                    <p class='ml-3'>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}_metar" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                            Decode METAR
                        </button>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}_taf" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                            Decode TAF
                        </button>
                    </p>

                    <div class="collapse" id="collapse{{forloop.counter}}_metar">
                        <table class="table">
                            {% for elem in metar %}
                            <tr class="{{ elem.2 }}">
                                <th scope="row">{{ elem.0 }}</th>
                                <td style="width: 75%">{{ elem.1 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="collapse" id="collapse{{forloop.counter}}_taf">
                        <table class="table">
                            {% for elem in taf %}
                            <tr class="{{ elem.2 }}">
                                <th scope="row">{{ elem.0 }}</th>
                                <td style="width: 75%">{{ elem.1 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% if sat_data %}
            <div class="tab-pane fade" id="nav-satellite" role="tabpanel" aria-labelledby="nav-satellite-tab">

                <div class="header mt-2 mb-1">
                    <h4>Satellite Weather Charts</h4>
                </div>

                <div id="accordion">
                    {% for country, sat_links in sat_data.items %}
                    {% with outloopcounter=forloop.counter%}
                    <div class="card mt-2">
                        <div class="card-header" id="header{{ outloopcounter }}_sat" data-toggle="collapse" data-target="#collapse{{ outloopcounter }}_sat" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}_sat" style="cursor:pointer">
                            <h5 class="mb-0">
                                {{ country }}
                            </h5>

                        </div>

                        <div id="collapse{{ outloopcounter }}_sat" class="collapse" aria-labelledby="header{{ outloopcounter }}_sat" data-parent="#accordion">
                            <nav>
                                <div class="nav nav-pills justify-content-center" id="nav-tab" role="tablist">
                                    {% for type in sat_links.keys %}
                                    <a class="nav-item nav-link{{ forloop.first|yesno:" active," }}" href="#nav-sat-carousel-{{outloopcounter}}-{{ forloop.counter }}" data-toggle="tab" role="tab" aria-controls="nav-windy-rain" aria-selected="true">
                                        {{ type }}
                                    </a>
                                    {% endfor %}
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                {% for links in sat_links.values %}
                                <div class="tab-pane fade{{ forloop.first|yesno:" show active," }}" id="nav-sat-carousel-{{outloopcounter}}-{{ forloop.counter }}" role="tabpanel"
                                    aria-labelledby="nav-sat-carousel-{{outloopcounter}}-{{ forloop.counter }}">
                                    <div id="carousel-{{outloopcounter}}-{{ forloop.counter }}" class="carousel slide" data-interval="300" data-ride="carousel">
                                        <div class="carousel-inner">
                                            {% for link in links %}
                                            <div class="carousel-item{{ forloop.first|yesno:" active," }}" style="transition-duration: 0s">
                                                <img class="d-block w-100" src="{{ link }}" alt="{{ link }}">
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div>
    </div>

</body>

</html>